/* 账户与安全 */
.ytx-m-account-security
    .as-content
        padding 0 0.24rem
        .list-box
            border 1px solid $border-color-1
            border-top 2px solid $all-color-1
            margin-top 0.68rem
            box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1)
            .list-item
                height 1.6rem
                padding 0 0.3rem
                a
                    width: 100%
                    height: 100%
                    border-bottom: 1px solid $border-color-1
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .left
                        font-weight: bold
                        color: $all-color-1
                        font-size 0.28rem
                        img
                            width 0.8rem
                            height 0.8rem
                            border-radius 50%
                            margin-right 0.26rem
                    .right
                        display: flex
                        align-items: center
                        color $all-color-3
                        font-size 0.28rem
                        font-weight bold
                        i
                            width: 0.12rem
                            height: 0.2rem
                            margin: 0 0.08rem 0 0.24rem
                            background: url("~statics/mobileImages/sign/ico_arrow.png") center no-repeat
                            background-size: 100% 100%
                &:last-child
                    a
                        border none
        .down
            margin-top 0.4rem
            border-top 1px solid $border-color-1
            border-bottom 1px solid $border-color-1
            .down-list
                height 1.6rem
                padding 0 0.3rem
                a
                    width: 100%
                    height: 100%
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .left
                        font-weight: bold
                        color: $all-color-1
                        font-size 0.28rem
                        img
                            width 0.8rem
                            height 0.8rem
                            border-radius 50%
                            margin-right 0.26rem
                    .right
                        display: flex
                        align-items: center
                        color $all-color-3
                        font-size 0.28rem
                        font-weight bold
                        i
                            width: 0.12rem
                            height: 0.2rem
                            margin: 0 0.08rem 0 0.24rem
                            background: url("~statics/mobileImages/sign/ico_arrow.png") center no-repeat
                            background-size: 100% 100%