/* 基本信息 */
.ytx-m-basic-info
    .bf-content
        padding 0 0.24rem
        .list-box
            border-top 2px solid $all-color-1
            margin-top 0.68rem
            .list-item
                height 1.16rem
                a
                    width: 100%
                    height: 1.16rem
                    border-bottom: 1px solid $border-color-1
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .left
                        font-weight: bold
                        color: $all-color-1
                        font-size 0.28rem
                    .right
                        display: flex
                        align-items: center
                        color $all-color-3
                        font-size 0.28rem
                        font-weight bold
                        img
                            width 0.48rem
                            height 0.48rem
                            border-radius 50%
                        i
                            width: 0.12rem
                            height: 0.2rem
                            margin: 0 0.08rem 0 0.24rem
                            background: url("~statics/mobileImages/sign/ico_arrow.png") center no-repeat
                            background-size: 100% 100%