/* mobile-number */
.ytx-m-bind-mobile-number
    .bmn-content
        padding 0 0.24rem
        .content-box
            border 1px solid $border-color-1
            box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1)
            text-align center
            border-top 2px solid $all-color-1
            margin-top 0.68rem
            padding 0.28rem
            img
                width 1.06rem
                height 1.06rem
                margin-top 0.66rem
            .div-width
                width 5.07rem
                line-height 0.3rem
        .btn-wrap
            font-size 0
            margin-top 1.12rem
        .unbundled-warning-bg
            position fixed
            left 0
            top 0
            width 100%
            background-color rgba(0,0,0,.5)
            height 100%
            .unbundled-warning
                position absolute
                left 0
                bottom 0
                width 100%
                background-color #fff
                opacity: 1
                text-align center
                font-size 0
                padding 0 0.74rem
                .warn-text
                    line-height 0.4rem
                img
                    width 1.06rem
                    height 1.06rem
                    margin-top 0.9rem
                .btn-spacing
                    margin-top 1.17rem
                    margin-bottom 0.56rem