/* 改变nickname */
.ytx-m-bind-email
    .be-content
        padding 0 0.24rem
        .content-box
            border-top 2px solid $all-color-1
            margin-top 0.68rem
            padding 0.28rem
            font-size 0
            .ytx-send
                margin-top 0.16rem
                input[type="text"]
                    height 0.96rem
                    outline none
                    border 1px solid #e5e5e5
                    flex 1
                    color $all-color-1
                    font 0.28rem HelveticaNeue
                    padding-left 0.24rem
                    
                .s-btn
                    font-size 0.28rem
                    width 1.36rem
                    height 0.96rem
                    outline none
                    background-color #fff
                    border 1px solid #e5e5e5
                    border-left 0
        .bind-email-suc
            border 1px solid $border-color-1
            box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1)
            text-align center
            border-top 2px solid $all-color-1
            margin-top 0.68rem
            padding 0.28rem
            img
                width 1.06rem
                height 1.06rem
                margin-top 0.66rem
            .div-width
                width 4.07rem
                line-height 0.3rem
        .btn-wrap
            font-size 0
            margin-top 1.12rem
                    
