/* 改变nickname */
.ytx-m-change-nickname
    .cn-content
        padding 0 0.24rem
        .content-wrapper
            border-top 2px solid $all-color-1
            margin-top 0.68rem
            padding 0.28rem
            .ytx-m-input
                height: 0.92rem
                margin: 0.16rem 0
                padding-left: 0.32rem
                border: 2px solid #e5e5e5
                display: -ms-flexbox
                display: flex
                justify-content: space-between
                align-items: center
                position: relative
                input[type="text"]
                    outline none
                    border none
                    width 100%
                    font-size 0.28rem
                .none
                    width: 0.48rem
                    height: 0.48rem
                    width: 0.48rem
                    flex-shrink: 0
                    border-radius 50%
                    margin: 0 0.2rem
                    cursor: pointer
                    background: url("~statics/mobileImages/sign/reset.png")  center center no-repeat