.change-success-wrap
   margin 1.76rem .24rem 0 .24rem
   width calc(100% - .48rem)
   .change-success-con
     margin-bottom .8rem
     border 1px solid $border-color-1
     border-top 1px solid $all-color-1 
     padding .66rem 0
     text-align center
     box-shadow 5px 5px 10px $border-color-1
     font-size .28rem
     .change-success-icon
        margin-bottom .4rem
        img
            width 1.04rem
            height 1.04rem
     .change-detail
        margin-top .16rem
        max-width 2.8rem
        line-height 1.5
        color $all-color-3
        display inline-block
        font-size .24rem