html[app=mobile], html[app=mobile] body
  font-size calc(10000vw / 750)
  font-family HelveticaNeue
html[app=mobile] body
  .commerceDiv 
    >.commerceMain 
      >.mySelfDiv 
        >div 
          >.heardImage
             background-color #fff!important