.confirm-mobile-wrap
    padding 72px 16px
    height 100%
    font-size 16px
    overflow-y auto
    .p-around--small
        padding 16px
    .p-right--small
        padding-right 16px
    .m-bottom--small
        margin-bottom 16px
    .m-top--small
        margin-top 16px
    .p-vertical-x--small
        padding 8px 0
    .panel
       .panel-title
           margin-bottom 5px
       .panel-con
           border 1px solid $border-color-1
           margin-bottom 16px
           .field-view
              padding 8px 16px
              line-height 16px
              label
                color $all-color-3
                font-size 12px
                display block
                em
                  font-style normal
                  color $negative
                  margin-right 2px
              .field-detail
                 font-size 14px
                 line-height 17px
           .color-week
              color $all-color-3  