.credit-mobile-wrap
    padding 72px 16px
    height 100%
    font-size 16px
    overflow-y auto
    .p-around--small
        padding 16px
    .p-right--small
        padding-right 16px
    .m-bottom--small
        margin-bottom 16px!important
    .m-top--small
        margin-top 16px
    .p-vertical-x--small
        padding 8px 0
    .panel
       .panel-title
           margin-bottom 5px
           em
              font-style normal 
              color $negative 
              margin-right 3px
       .panel-con
          margin-bottom 16px
          .field-select
              position relative
              margin-bottom 18px
              label
                color $all-color-3
                font-size 12px 
                position absolute 
                top 8px
                left 14px
                em
                  font-style normal 
                  color $negative 
                  margin-right 3px
              .field-view-select
                border 1px solid $border-color-1
                padding 22px 14px 4px 14px
              .q-if-control
                 position relative
                 top -6px
              .q-if:after
                opacity 0
              .q-if:before
                opacity 0
              .q-if-label
                color $all-color-3
              .q-if-focused
                .q-if-label
                    color $all-color-3
              &.q-field-with-error 
                 margin-bottom 0
                 .q-field-bottom   
                    min-height 18px
                    line-height 14px
                    padding 2px
          .field-border
              border 1px solid $border-color-1
              padding 8px 14px 0 14px
              margin-top 0
              .q-if:after
                opacity 0
              .q-if:before
                opacity 0
              .q-if-label
                color $all-color-3
              .q-if-focused
                .q-if-label
                    color $all-color-3
          .field-inp
            position relative
            margin-bottom .18rem
            margin-top 0
            display flex
            height .94rem
            box-sizing border-box
            border 0.02rem solid #e5e5e5
            display flex 
            i 
              font-size 20px
            label
              color $all-color-3
              font-size 12px 
              position absolute 
              top 8px
              left 14px
              display none
              em
                font-style normal 
                color $negative 
                margin-right 3px
            .field-view-inp
              font-size 0.26rem
              padding 0 .16rem
              height .94rem
              input::-webkit-input-placeholder
                  color $all-color-3
              .q-if-control
                  position relative
                
            .q-if:after
              opacity 0
            .q-if:before
              opacity 0
            .q-if-label
              color $all-color-3
            .q-if-focused
              .q-if-label
                  color $all-color-3
            
            &.q-field-with-error 
                  margin-bottom 0
                  .q-field-bottom   
                      display block
                      padding 16px
                      position fixed
                      background rgba(0,0,0,.4)
                      width 90%
                      margin 0 auto
                      top 50%
                      border-radius 30px
                      left 5%
                      color #fff
                      text-align center
                      font-size 16px
                      animation tipMessage 3s
                      z-index 5
                      opacity 0
           .invoice
              .q-touch
                margin -10px 0 0 10px
              .q-toggle-handle
                width 28px
                height 28px
                background-color $all-color-2
                border 1px solid $border-color-1 
              .q-toggle-base
                width 50px
                height 30px
                opacity 1
                border 2px solid $border-color-1 
                margin-top -6px
                &.active
                  border 2px solid #68daa9
              .q-option-inner
                &.active
                  color $background-color-4
           .color-week
              color $all-color-3  