.edit-data-wrap
   margin 1.76rem .24rem 0 .24rem
   padding .40rem .48rem 0 .48rem
   border-top 1px solid $all-color-1
   font-size .24rem
   .edit-data-title
      margin-top .24rem
      margin-bottom .16rem
      span
         color $positive
   .mobile-y-inp
      &.m-error
         border-color  #ff0072
      .error
         background url('~statics/icon-error-s.png') no-repeat center
         background-size 100%
      .success
         background url('~statics/icon-success-s.png') no-repeat center
         background-size 100%

  .edit-errorMessage
    color #ff0072
    min-height .32rem