.filling-top
    padding 1.68rem .5rem .78rem .5rem
    background #d8ecf4
    text-align center
    .filling-top-title
        font-size .64rem
    .filling-top-detail
        color $font-color-5
        font-size .25rem
        margin-top .3rem
.filling-index-mobile
    margin .24rem
    .info-edit
        width .24rem
        height .24rem
        margin-left .16rem
        background url('~statics/icon-edit.png') no-repeat center
        background-size 100%
    .icon-tel
        width .24rem
        height .24rem
        margin-right .16rem
        background url('~statics/icon-tel.png') no-repeat center
        background-size 100%
    .icon-email
        width .24rem
        height .18rem
        margin-right .16rem
        background url('~statics/icon-email.png') no-repeat center
        background-size 100%
    .icon-site
        width .64rem
        height .64rem
        
        border-radius 50%
        margin-right .16rem
        background url('~statics/icon-site.png') no-repeat center
        background-color #f2f2f2
        background-size .20rem .24rem
    .submit-btn-wrap
       margin .64rem .56rem .32rem .56rem
    .submit-btn
        width 100%
        height .93rem
        border-radius: .5rem
        background-color $all-color-1
        color #fff
        font-size .32rem
        text-align center
        line-height .93rem
        cursor pointer 
    .basic-wrap
      font-size .26rem
      margin-top .65rem
      .basic-title
          font-size .26rem
          margin-bottom .16rem
      .basic-con
          border 1px solid $border-color-1
          padding .32rem
          border-top .02rem solid $all-color-1
          box-shadow 2px 5px 30px #ccc
    .address-wrap
      font-size .26rem
      margin-top .65rem
      .address-title
          font-size .26rem
          margin-bottom .16rem
      .address-con
          border 1px solid $border-color-1
          padding .32rem
          .border-bottom
             border-bottom 1px solid $border-color-1

    