.forgotpsw-page-mobile 
    width 100vw
    max-width 100%
    min-height 100vh
    position relative
    .r-mobileTop
        position fixed
        top 0
        left 0
        z-index 2000  
        .r-otherHeardBox
            width 100vw
            font-size 0.26rem 
            >div
                width 100%
                height 1.28rem
                background #fff
                display flex
                justify-content space-between
                align-items center 
                &.r-head>i:first-child
                    background url('~statics/images/login-mobile/ico_back.png') center / 100% no-repeat   
                &.r-head>i:last-child
                    background none
                >i
                    width .48rem
                    height .48rem
                    margin 0 .36rem
                    cursor pointer    
                >span
                    font-weight bold
                    display flex
                    justify-content center
                    align-items center   
    .r-mobileContent
        min-height 100vh      
        .r-div
            margin-top 1.16rem
            font-size 0.26rem
            position relative
            width 100%
            padding 0 0.24rem
            >.r-div-item
                >.main
                    padding .16rem
                    display flex
                    flex-direction column
                    >.top
                        width 100%
                        height .64rem
                        margin-top -.64rem
                        >ul
                            display flex
                            list-style none
                            padding 0
                            margin 0
                            >li
                                font-size .26rem
                                color #b2b2b2
                                margin-right .6rem
                                cursor pointer
                                font-weight 600
                            >.active
                                font-weight bold
                                color #252525 
                    .pc-un-input
                        .input-label
                            font-size 14px
                            color #999
                    .hint-wrap
                        margin-bottom -20px
                        margin-top -20px
                        .points
                            background #fff
                            padding 4px 0
                            .points-title
                                margin-bottom 3px
                                font-size 14px
                            p
                                font-size 12px
                                color #666
                                margin-bottom 0
                                line-height 20px
                                &.active
                                    color #5fb870
                                span
                                    margin-left 3px      
                    .fade-enter-active
                        transition all 1s ease
                    .fade-leave-active
                        transition all 2s ease

                    .fade-enter
                        opacity 0
                        max-height 0
                    .fade-enter-to
                        max-height 200px

                    .fade-leave
                        opacity 0
                        max-height 200px

                    .fade-leave-to
                        opacity 0
                        max-height 0                           
                    .input-group  
                        margin .36rem 0
                        position relative  
                        .input-item
                            height .92rem
                            border 2px solid #e5e5e5
                            display flex
                            justify-content space-between
                            align-items center
                            &.error
                                border 1px solid #e50017
                                color #e50017 
                            .code
                                position absolute
                                right 20px
                                top 12px
                                width 65px
                                height 24px
                                cursor pointer                                
                        input
                            width 100%
                            outline none
                            border none  
                            height 100%
                            padding-left 0.32rem
                        .errMessage
                            font-size .26rem
                            color #e50017
                            letter-spacing 0
                            height auto
                            text-align left
                            line-height: 0.3rem
                            word-wrap break-word
                            margin-bottom 0.1rem                                
                        .sendVerification
                            min-width 2rem
                            height 100%
                            flex-shrink 0
                            padding 0.05rem
                            border none
                            border-left 2px solid #e5e5e5
                            display flex
                            justify-content center
                            align-items center
                            cursor pointer    
                            background-color #fff 
                            outline none
                            span
                                font-weight 600
                                color #252525
                                letter-spacing 0px 
                    .btn-forgotpsw
                        width 100%
                        padding 0.24rem 0   
                        span
                            width 100%
                            height 0.96rem
                            margin 0.32rem 0 0.28rem
                            font-size 0.32rem
                            border-radius 0.48rem
                            background #252525
                            color #fff
                            display flex
                            justify-content center
                            align-items center
                            cursor pointer    
                    .form-desc
                        font-size 14px
                        color #333
                        font-family Roboto-Medium
                        text-align center
                        margin-bottom 20px
                        margin-top 20px  
                        a
                          color #2e9dfd                       
   