.m-head
    .head-wrap
        padding 0.72rem 0 0.3rem 0
        display flex
        justify-content center
        align-items center
        position relative
        i
            display block
            width 0.4rem
            height 0.3rem
            background url("~statics/mobileImages/heard/ico_back.png") center / 100%  no-repeat
            position absolute
            left 0.34rem
            top 0.72rem
        .h2-title
            color $all-color-1
            font-size 0.26rem
            font-weight bold
            text-transform capitalize
        .head-right
            position absolute
            right 0.34rem
            top 0rem
            a
                color $font-color-4
                font-size 0.26rem