   .myBusiness-mobile-box
      width  100%
      margin-top 10px
      font-size 16px
      .main 
         padding 16px
         .m-Primary-wrap
            margin-bottom 16px
            .m-Primary-h3
                font-size 16px
                font-weight bold
                margin-bottom  16px 
            .btn
                background $background-color-4
                color $all-color-2
                text-align center
                padding 6px 16px
                border-radius 16px
                display inline-block
                cursor pointer
                text-transform uppercase
                &.disabled
                   background #e6e6e6
                   color $all-color-3
            .m-Primary-inner-wrap
                border 1px solid $border-color-1
                border-top 1px solid $all-color-1
                box-shadow 5px 5px 10px $border-color-1
                margin-bottom .16rem
                &.noShadow
                   border-top 1px solid $border-color-1
                   box-shadow none
                   margin-top .4rem
                padding 16px
                
                .m-Primary-img
                  width 80pxm-Primary-title
                  height 80px
                  margin-right 16px
                  img 
                    max-width 100%
                    max-height 100%
                .m-Primary-content
                  .m-Primary-title
                      font-size 16px
                      font-weight bold
                      margin-bottom 16px
                      .m-Primary-state
                         color #6dd6a9
                         font-size .24rem
                      .dot
                         display inline-block
                         width 8px
                         height 8px
                         border-radius 50%
                         margin-right 4px
                  .m-Primary-detail
                      font-size .24rem
                      margin-bottom 8px
                      font-weight bold
                  .m-Primary-date
                      font-size .24rem
                      margin-bottom 12px
                      color $font-color-5
                  .m-Primary-action
                     text-align right
         .m-Supplementary-wrap
            margin-bottom 16px
            .m-Supplementary-h3
                font-size 14px
                font-weight bold
                margin-bottom  16px
                position relative 
                .action-right
                  position absolute
                  right 0
                  top -2px
            .btn
                background $background-color-4
                color $all-color-2
                text-align center
                padding 6px 16px
                border-radius 16px
                display inline-block
                cursor pointer
            .operation
                color #6abcfc
            .m-Supplementary-list
               .m-Supplementary-item
                   border 1px solid $border-color-1
                   padding 0 16px
                   margin-bottom 16px
                   .m-Supplementary-title
                      margin-bottom 8px
                      position relative
                      font-size .28rem
                      .dot
                         display inline-block
                         width 8px
                         height 8px
                         border-radius 50%
                         margin-right 4px
                      .state-right
                         position absolute
                         top 0
                         right 0
                         color $background-color-4
                         font-size .24rem
                   .m-Supplementary-detail
                      font-size .24rem
                      color $font-color-5
                      
                      .more
                         position relative
                         display block
                         i 
                           font-size 20px
                           display block
                           width 20px
                           color #ddd
                         .m-operation
                            position absolute
                            right 0
                            top 23px
                            padding 8px
                            border 1px solid $border-color-1
                            background #fff
                            text-align center
                            z-index 1
                            &:before
                              content ''
                              position absolute
                              width 8px
                              height 8px
                              display block
                              background #fff
                              border-top 1px solid $border-color-1
                              border-left 1px solid $border-color-1
                              transform rotateZ(45deg)
                              right 5px
                              top -5px
                   .m-Supplementary-item-level1
                      padding 16px 0
                   .m-Supplementary-item-level2
                       border-top 1px solid $border-color-1
                       padding 16px 0 16px 0px
                       &>div:first-child
                         margin-right 8px

          