   .orderDetail-mobile-wrap
      width  100%
      margin-top 10px
      margin-bottom 55px
      font-size 16px
      .main 
         padding 16px
        .m-orderStatue-wrap
           border 1px solid $border-color-1
           border-top 1px solid $all-color-1
           box-shadow 5px 5px 10px $border-color-1
           padding 0 16px  
           margin-bottom 16px
           .m-orderStatue-title
               border-bottom 1px solid $border-color-1 
               padding 16px 0
               color $positive
               text-align center
               font-weight bold
               font-size 16px
           &>div
               border-bottom 1px solid $border-color-1 
               padding 16px 0
               .color-positive
                 color $positive
               .order-date
                    color $font-color-3
                    margin-top 5px 
               .m-orderStatue-left
                 margin-right 16px
                 img
                   width 25px
            .order-info-detail
                &>div
                  margin-bottom 3px
                .remarkInfo
                   position relative
                   word-break break-all
                   &.twoLine
                     -webkit-line-clamp 2
                     text-overflow ellipsis
                     display -webkit-box
                     overflow hidden
                     padding-right 40px
                     /*! autoprefixer: off */
                     -webkit-box-orient: vertical;
                     /* autoprefixer: on */
                    
                   .info-more
                      position absolute
                      top .32rem
                      right 0
                      color $font-color-4
            .m-orderStatue-right
               font-size 30px
               color $font-color-3  
        .m-order-cost-wrap
           padding 0 16px
           border 1px solid $border-color-1    
           margin-bottom 16px
           .m-order-cost-item
              padding 16px 0
              border-bottom 1px solid $border-color-1 
              &:last-child
                 border none 
        .m-fee-detail-wrap
           border-top 1px solid $border-color-1 
           border-bottom 1px solid $border-color-1 
           padding 0 16px
           margin-bottom 16px
           .m-fee-detail-item
              border-bottom 1px solid $border-color-1 
              padding-bottom 16px 
              &:last-child 
                  border none
              .m-fee-detail-child
                  padding-top 16px 
                  .f-img
                     width 60px
                     height 60px
                     margin-top 5px
                     text-align center
                     margin-right 16px
                     img
                       max-width 100%
                       max-height 100%
                       position relative
                       top 50%
                       transform translateY(-50%)
                   .f-con
                       padding-bottom 12px
                       border-bottom 1px solid $border-color-1 
                       overflow hidden
                       .f-title
                           position relative
                           padding-right 30px
                           margin-bottom 5px
                           overflow hidden
                           text-overflow ellipsis
                           white-space nowrap
                           .f-count
                              position absolute 
                              right 0
                              top 0
                              color $font-color-3
                        .f-stages
                           font-size 12px
                           margin-bottom 5px
                           em 
                             font-style normal 
                             color $font-color-3
                        .f-prop
                           line-height 1.2
                           font-size 12px
                           color $font-color-5
                        .f-share
                           margin-top .16rem
                           line-height 1.2
                           font-size 12px
                           color $background-color-4
                   &:last-child
                       .f-con
                          padding-bottom 0
                          border none

        .order-info-wrap
           padding 0 16px
           border 1px solid $border-color-1 
           &>div
               padding 16px 0
               border-bottom 1px solid $border-color-1
               &:last-child
                  border-bottom none
           .order-info-item
               &>div
                 margin 8px 0
                 span 
                    color $font-color-3 
                    display inline-block
                    min-width 2.4rem
        .order-footer
           position fixed
           width 100%
           left 0
           bottom 0
           text-align center
           font-size 14px
           .total
              height 57px
              background  $background-color-5
              .o-title 
                 color $font-color-3
                 margin 10px 0 2px 0
           .m-btn
              background  $all-color-1
              color $all-color-2
              line-height 55px
              height 55px
              &.positive
                 background $positive
               