.orderDiv 
    >.order 
        >.main 
            >.ordersBigBox 
                >.orderBox 
                    >div 
                       >.body 
                          >.imgDiv 
                              width 100%
                              overflow-x auto
                              white-space nowrap
                              .imgDivInner
                                  display inline-block
                                  img
                                     width 1.44rem
                                     height 1.44rem
                                     margin-right 0.16rem
                                  
                    .orderMath
                       padding .16rem 0
html[app=mobile], html[app=mobile] body
  font-size calc(10000vw / 750)
  font-family HelveticaNeue
html[app=mobile] body
  .otherHeardBox 
   >div
      background none
   div.order
      .order-search
          width 6.00rem
          height .72rem
          margin .32rem 
          border-radius .36rem
          display flex
          align-items center
          background #f1f1f2
          input
            font .26rem HelveticaNeue
            background none
            border none
            outline none
          i.icon-search
            background url('~statics/mobileImages/heard/ico_search.png') .32rem center / .28rem .28rem no-repeat
            width .6rem
            height .28rem
            font-size 0
            margin-right .2rem
          i.icon-clear
            background url('~statics/mobileImages/address/ico_close.png') center / 100% 100% no-repeat
            width 0.32rem
            height 0.32rem
            margin 0 0.36rem
            





















                              
                                 