.payment-top
    background #d8ecf4
    padding  1.12rem .75rem .42rem .75rem
    font-size .24rem
    text-align center
    .payment-title
       font-size .28rem
       margin-bottom .16rem
       span
         color #66bbff
    .payment-detail
      color #b2b2b2
      line-height 1.2em
.paymentDiv
    margin-top .8rem

