html[app=mobile], html[app=mobile] body
  font-size calc(10000vw / 750)
  font-family HelveticaNeue
html[app=mobile] body
  .searchDiv 
     >.productsDiv 
        .q-infinite-scroll-content 
           >.product 
              >.productRight 
                 >.productName
                     width 100%
                     span
                        padding-right 5px
                        display block