.m-recommendation
    .title
        font 0.26rem HelveticaNeue Bold
        margin 0.8rem 0.24rem 0.5rem
    .recommendation-wrapper
        padding 0 0.24rem
        .list-box
            margin 0 -0.08rem
            .list-item
                padding 0.08rem
        .item-wrapper
            border 1px solid $border-color-1
            height 5.79rem
            .img-wrap
                height 3.63rem
                display flex
                justify-content center
                align-items center
                img
                    max-height 2.67rem
                    max-width 2.67rem
            .product-content
                .product-title
                    font-size 0.28rem
                    font-farmily HelveticaNeue Bold
                    color $all-color-1
                    font-weight bold
                    word-break break-word
                    overflow  hidden
                    text-overflow ellipsis
                    display -webkit-box
                    -webkit-line-clamp 2
                    -webkit-box-orient vertical
                    line-height 0.35rem
                    text-align center
                    height 0.7rem
                .product-price
                    margin-top 0.58rem
                    font-size 0.24rem
                    font-family HelveticaNeue-Medium
                    color $all-color-1
                    text-align center
                    span
                        margin-left 0.1rem
                        color $all-color-3
