.myfavorite
    .title-wrap
        padding 0.34rem
        display flex
        justify-content space-between
        align-items center
        /* i
            display block
            width 0.4rem
            height 0.3rem
            background url("~statics/mobileImages/heard/ico_back.png") center / 100%  no-repeat
            position absolute
            left 0.34rem
            top 0.72rem */
        .h2-title
            color $all-color-1
            font-size 0.26rem
            font-weight bold
        .handle-btn
            color $font-color-4
            font-size 0.26rem
    .favorite-box
        padding 0 0.34rem
        .favorite-items
            background-color #fff
            display flex
            justify-cotent center
            align-items center
            position relative
            padding 0.4rem 0
            border-bottom 1px solid $border-color-1
            &:first-child
                border-top 2px solid $all-color-1
            &.item-center
                display flex
                justify-content center
            .favorite-select
                display flex
                justify-content center
                align-items center
                width 0.57rem
                .q-option-inner
                    display inline-block
                    width 0.48rem
                    height 0.48rem
                    background url("~statics/mobileImages/checkOut/icon_un_prevision.png") center / 100%  no-repeat     
                    cursor pointer
                    &.active
                        background url("~statics/mobileImages/checkOut/ico_provision.png") center / 100%  no-repeat
                    .q-radial-ripple
                        display none
            .img-wrap
                width 2.4rem
                height 1.6rem
                display flex
                justify-content center
                align-items center
                margin-right 0.16rem
                position relative
                .img-content
                    max-width 100%
                    max-height 100%
                .product-status
                    position absolute
                    bottom -0.4rem
                    left 0
                    height 0.32rem
                    line-height 1.4
                    width 100%
                    background $all-color-1
                    color #fff
                    text-align center
                    font-size 0.22rem
                    text-transform uppercase
            .product-content-wrap
                flex 1
                overflow hidden
                .product-title
                    font-size 0.28rem
                    font-farmily HelveticaNeue Bold
                    color $all-color-1
                    font-weight bold
                    word-break break-word
                    overflow  hidden
                    text-overflow ellipsis
                    display -webkit-box
                    -webkit-line-clamp 2
                    -webkit-box-orient vertical
                .product-price
                    margin-top 0.3rem
                    font-size 0.24rem
                    font-family HelveticaNeue-Medium
                    color $all-color-1
                    span
                        margin-left 0.1rem
                        color $all-color-3
.delete-wrapper
    height 1.59rem
    width 100%
    display flex 
    justify-content center
    align-items center
    .m-btn-footer
        display inline-block
        height 0.96rem
        line-height 0.96rem
        outline none
        border 0 
        border-radius 1rem
        background-color $all-color-1
        color #fff
        font 0.32rem HelveticaNeue-Medium
    button
        position fixed
        bottom 0.315rem
        left 0
        width 100%

.ytx-m-no-data
    width 100%
    padding 1.6rem 0
    background-color #f7f7f7
    position relative
    display flex
    justify-content center
    align-items center
    .img-wrap
        img
            margin-left -0.5rem
        p
            margin-top 0.9rem
            color #c1c0bf
            font 0.32rem  HelveticaNeue-Medium
            text-align center